@media only screen and (min-width : 320px) {
    *{
        margin: 0;
        padding: 0;
    }
    #logo{
        width: 20vw;
        height:10vw;
        position: absolute;
        top: 3%;
        left: 5%;
    }
    .top1{
        position: absolute;
        top: 1%;
        left: 25vw;
        font-size: 2vw;
    }
    
    .top2{
        display: flex;
        position: absolute;
        left: 60%;
        top: 10vw;
        font-size: 2vw;
        }
    #top2_second,#top2_third{
        padding-left: 1vw;
    }
    .top3{
        display: flex;
        position: absolute;
        top: 4vw;
        margin-left: 3vw;
        left: 65vw;
    }
    #top3_first,#top3_second,#top3_third,#top3_fourth{
        border: 1px solid rgb(181, 177, 177);
        margin: 0.5vw;
    }
    .des{
        position: absolute;
        top: 4vw;
    }
    .main_container{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10%;
        width: 80%;
        margin: auto;
    }
    .bar{
        position: absolute;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        margin-bottom:6vw;
        width: 80vw;
        height: 5vw;
    }
    ul{
        display:flex;
        list-style: none;
    }
    li{
        padding-top: 5px;
        padding-left: 1vw;
        cursor: pointer;
        font-size: 10px;
    }
    .image1{
        width: 80vw;
        height: 30vw;
        margin: 1vw;
    }
    .search{
        position: absolute;
        height: 2vh;
        left: 65vw;
        top: 0.5vw;
        cursor: pointer;
        
    }
    #search_box{
        max-width: 10vw;
        padding-right: 2vw;
    }
    .bottom_left_container{
        width: 80vw;
        height: auto;
        margin-top: auto;
        border: 2px solid rgb(181, 177, 177);
        position: static;
        top:25%;
    }
    .headline{
        border: 2px solid rgb(181, 177, 177);
        background-color: rgb(181, 177, 177);
    }
    .image2{
        padding-left: 2vw;
        padding-top: 3vw;
        height:15vw;
        width: 15vw;
    }
    .descp{
        position: relative;
        left: 20vw;
        top: -15vw;
    }
    #descrp{
        position: relative;
        left: 20vw;
        top: -15vw;
        max-width: 30vw;
        max-height: 40vw;
    }
    .link{
        position: relative;
        left: 20vw;
        top: -14vw;
    }
    #link1,#link2{
        cursor: pointer;
        padding: 10px;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
    }
    #news{
        font-size: 5vw;
        position: relative;
        top: -12vw;
        padding:10px ;
        border:2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177);
    }
    .images{
        position: relative;
        display: flex;
        top: -9vw;
    }
    #img1,#img2,#img3,#img4{
        width: 25%;
        height: auto;
    }
    .imgdescp{
        position: relative;
        display: flex;
        top: -8vw;
    }
    #d1,#d2,#d3,#d4{
        font-size: 2vw;
        padding-left: 1vw;
    }
    .user{
        position: relative;
        font-size:3vw;
        top: -5vw;
    }
    #user{
        position: relative;
        top: -5vw;
        max-width: 50vw;
        max-height: 40vw;
    }
    .heading1{
        width: 30vw;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        position: relative;
        top:-200vw;
        left:57vw;
    }
    .video{
        position: relative;
        top:-197vw;
        left:57vw;
        width: 30vw;
    }
    #links{
        display: flex;
        border: 2px solid rgb(181, 177, 177) ;
        position: relative;
        top: 2vw;
        left: 8vw;
    }
    .right_container{
        position: relative;
        top: 202vw;
        left: -58vw;
    }
    .heading{
        font-size: 5vw;
        padding: 0 1vw 0 0;
    }
    .navigate{
        max-width: 31%;
        height: auto;
        border: 2px solid rgb(181, 177, 177);
        position: relative;
        top:15vw;
        left: 15vw;
        }
    .prodlist{
        display:inline-block ;
        list-style:disc;
        list-style-position: inside;
    }
    #prod1,#prod2,#prod3{
        padding-bottom: 10px;
    }
    .nav_bottom{
        padding-bottom: 5px;
        position: relative;
        top: 40vw;
        left: 10vw;
    }
    #bottom{
        display: flex;
        position: relative;
        left: 5vw;
    }
}
@media only screen and (min-width : 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    #logo{
        width: 20vw;
        height:10vw;
        position: absolute;
        top: 3%;
        left: 5%;
    }
    .top1{
        position: absolute;
        top: 1vw;
        left: 20vw;
        font-size: 2vw;
    }
    .top2{
        display: flex;
        position: absolute;
        left: 60vw;
        top: -4vw;
        font-size: 2vw;
        }
    #top2_second,#top2_third{
        padding-left: 1vw;
    }
    .top3{
        display: flex;
        position: absolute;
        top: 1vw;
        margin-left: 3vw;
        left: 65vw;
    }
    #top3_first,#top3_second,#top3_third,#top3_fourth{
        border: 1px solid rgb(181, 177, 177);
        margin: 0.5vw;
    }
    .des{
        position: absolute;
        top: 4vw;
    }
    .main_container{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10%;
        width: 80%;
        margin: auto;
    }
    .bar{
        position: absolute;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        margin-bottom:6vw;
        margin-top: 5%;
        width: 80vw;
        height: 5vw;
    
    }
    ul{
        display:flex;
        list-style: none;
    }
    li{
        padding-top: 5px;
        padding-left: 2vw;
        cursor: pointer;
        font-size: 13px;
        align-items: center;
    }
    
    .image1{
        width: 80vw;
        height: 30vw;
        margin-top: 10%;
    }
    .search{
        position: absolute;
        height: 3vh;
        left: 67.5vw;
        top: 1vw;
        cursor: pointer;
        
    }
    #search_box{
        max-width: 5vw;
        padding-right: 2vw;
    }
    .bottom_left_container{
        width: 50vw;
        height: auto;
        margin-top: auto;
        border: 2px solid rgb(181, 177, 177);
        position: static;
        top:25%;
    }
    .headline{
        border: 2px solid rgb(181, 177, 177);
        background-color: rgb(181, 177, 177);
    }
    .image2{
        padding-left: 2vw;
        padding-top: 3vw;
        height:15vw;
        width: 15vw;
    }
    .descp{
        position: relative;
        left: 20vw;
        top: -15vw;
    }
    #descrp{
        position: relative;
        left: 20vw;
        top: -15vw;
        max-width: 30vw;
        max-height: 40vw;
    }
    .link{
        position: relative;
        left: 15vw;
        top: -14vw;
    }
    #link1,#link2{
        cursor: pointer;
        padding: 10px;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
    }
    #news{
        font-size: 5vw;
        position: relative;
        top: -12vw;
        padding:10px ;
        border:2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177);
    }
    .images{
        position: relative;
        display: flex;
        top: -9vw;
    }
    #img1,#img2,#img3,#img4{
        width: 25%;
        height: auto;
    }
    .imgdescp{
        position: relative;
        display: flex;
        top: -8vw;
    }
    #d1,#d2,#d3,#d4{
        font-size: 2vw;
        padding-left: 1vw;
    }
    .user{
        position: relative;
        font-size:3vw;
        top: -5vw;
    }
    #user{
        position: relative;
        top: -5vw;
        max-width: 50vw;
        max-height: 40vw;
    }
    .heading1{
        width: 30vw;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        position: relative;
        top:-200vw;
        left:57vw;
    }
    .video{
        position: relative;
        top:-197vw;
        left:57vw;
        width: 30vw;
    }
    #links{
        display: flex;
        border: 2px solid rgb(181, 177, 177) ;
        position: relative;
        top: 2vw;
        left: 8vw;
    }
    .right_container{
        position: absolute;
        top: 239vw;
        left: -5vw;
    }
    .heading{
        font-size: 5vw;
        padding: 0 1vw 0 0;
    }
    .navigate{
        max-width: 30vw;
        height: auto;
        border: 2px solid rgb(181, 177, 177);
        position: absolute;
        top: 120vw;
        left: 55vw;
        }
    .prodlist{
        display:inline-block ;
        list-style:disc;
        list-style-position: inside;
    }
    #prod1,#prod2,#prod3{
        padding-bottom: 10px;
    }
    .nav_bottom{
        padding-bottom: 5px;
        position: absolute;
        top: 140vw;
        left: 30vw;
    }
    #bottom{
        position: relative;
        left: 5vw;
    }
}
@media only screen and (min-width : 480px) {
    *{
        margin: 0;
        padding: 0;
    }
    #logo{
        width: 20vw;
        height:10vw;
        position: absolute;
        top: 3%;
        left: 5%;
    }
    .top1{
        position: absolute;
        top: 1%;
        left: 25vw;
        font-size: 2vw;
    }
    
    .top2{
        display: flex;
        position: absolute;
        left: 60%;
        top: 10vw;
        font-size: 2vw;
        margin-bottom: 10% ;
        }
    #top2_second,#top2_third{
        padding-left: 1vw;
    }
    .top3{
        display: flex;
        position: absolute;
        top: 4vw;
        margin-left: 3vw;
        left: 65vw;
    }
    #top3_first,#top3_second,#top3_third,#top3_fourth{
        border: 1px solid rgb(181, 177, 177);
        margin: 0.5vw;
    }
    .des{
        position: absolute;
        top: 4vw;
    }
    .main_container{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10%;
        width: 80%;
        margin: auto;
    }
    .bar{
        position: absolute;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        margin-bottom:6vw;
        margin-top: 5%;
        width: 80vw;
        height: 5vw;
    
    }
    ul{
        display:flex;
        list-style: none;
    
    }
    li{
        padding-top: 5px;
    
        padding-left: 2vw;
        cursor: pointer;
        font-size: 13px;
        align-items: center;
    }
    
    .image1{
        width: 80vw;
        height: 30vw;
        margin-top: 10%;
    }
    .search{
        position: absolute;
        max-height: 3vh;
        left: 67.5vw;
        top: 1vw;
        cursor: pointer;
        
    }
    #search_box{
        max-width: 10vw;
        padding-right: 2vw;
    }
    .bottom_left_container{
        width: 50vw;
        height: auto;
        margin-top: auto;
        border: 2px solid rgb(181, 177, 177);
        position: static;
        top:25%;
    }
    .headline{
        border: 2px solid rgb(181, 177, 177);
        background-color: rgb(181, 177, 177);
    }
    .image2{
        padding-left: 2vw;
        padding-top: 3vw;
        height:15vw;
        width: 15vw;
    }
    .descp{
        position: relative;
        left: 20vw;
        top: -15vw;
    }
    #descrp{
        position: relative;
        left: 20vw;
        top: -15vw;
        max-width: 30vw;
        max-height: 40vw;
    }
    .link{
        position: relative;
        left: 15vw;
        top: -14vw;
    }
    #link1,#link2{
        cursor: pointer;
        padding: 10px;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
    }
    #news{
        font-size: 5vw;
        position: relative;
        top: -12vw;
        padding:10px ;
        border:2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177);
    }
    .images{
        position: relative;
        display: flex;
        top: -9vw;
    }
    #img1,#img2,#img3,#img4{
        width: 25%;
        height: auto;
    }
    .imgdescp{
        position: relative;
        display: flex;
        top: -8vw;
    }
    #d1,#d2,#d3,#d4{
        font-size: 2vw;
        padding-left: 1vw;
    }
    .user{
        position: relative;
        font-size:3vw;
        top: -5vw;
    }
    #user{
        position: relative;
        top: -5vw;
        max-width: 50vw;
        max-height: 40vw;
    }
    .heading1{
        width: 30vw;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        position: relative;
        top:-200vw;
        left:57vw;
    }
    .video{
        position: relative;
        top:-197vw;
        left:57vw;
        width: 30vw;
    }
    #links{
        display: flex;
        border: 2px solid rgb(181, 177, 177) ;
        position: relative;
        top: 2vw;
        left: 8vw;
    }
    .right_container{
        position: absolute;
        top: 239vw;
        left: -5vw;
    }
    .heading{
        font-size: 5vw;
        padding: 0 1vw 0 0;
    }
    .navigate{
        max-width: 30vw;
        height: auto;
        border: 2px solid rgb(181, 177, 177);
        position: absolute;
        top:125vw;
        left: 55vw;
        }
    .prodlist{
        display:inline-block ;
        list-style:disc;
        list-style-position: inside;
    }
    #prod1,#prod2,#prod3{
        padding-bottom: 10px;
    }
    .nav_bottom{
        padding-bottom: 5px;
        position: relative;
        top: 10vw;
        left: 30vw;
    }
    #bottom{
        position: relative;
        left: 5vw;
    }
}
@media only screen and (min-width : 992px) {
    *{
        margin: 0;
        padding: 0;
    }
    #logo{
        width: 20vw;
        height:10vw;
        position: absolute;
        top: 3%;
        left: 5%;
    }
    
    .top1{
        position: absolute;
        top: 1vw;
        left: 25vw;
        font-size: 2vw;
    }
    
    .top2{
        display: flex;
        position: absolute;
        left: 60%;
        top: 7vw;
        font-size: 2vw;
        margin-bottom: 10% ;
        }
    #top2_second,#top2_third{
        padding-left: 1vw;
    }
    .top3{
        display: flex;
        position: absolute;
        top: 2vw;
        margin-left: 3vw;
        left: 65vw;
    }
    #top3_first,#top3_second,#top3_third,#top3_fourth{
        border: 1px solid rgb(181, 177, 177);
        margin: 0.5vw;
    }
    .des{
        position: absolute;
        top: 4vw;
    }
    .main_container{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10%;
        width: 80%;
        margin: auto;
    }
    .bar{
        position: absolute;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        margin-bottom:6vw;
        margin-top: 5%;
        width: 80vw;
        height: 5vw;
    
    }
    ul{
        display:flex;
        list-style: none;
    
    }
    li{
        padding-top: 5px;
    
        padding-left: 2vw;
        cursor: pointer;
        font-size: 13px;
        align-items: center;
    }
    
    .image1{
        width: 80vw;
        height: 30vw;
        margin-top: 10%;
    }
    .search{
        position: absolute;
        max-height: 3vh;
        left: 67.5vw;
        top: 1vw;
        cursor: pointer;
        
    }
    #search_box{
        max-width: 10vw;
        padding-right: 2vw;
    }
    .bottom_left_container{
        width: 50vw;
        height: auto;
        margin-top: auto;
        border: 2px solid rgb(181, 177, 177);
        position: static;
        top:25%;
    }
    .headline{
        border: 2px solid rgb(181, 177, 177);
        background-color: rgb(181, 177, 177);
    }
    .image2{
        padding-left: 2vw;
        padding-top: 3vw;
        height:15vw;
        width: 15vw;
    }
    .descp{
        position: relative;
        left: 20vw;
        top: -15vw;
    }
    #descrp{
        position: relative;
        left: 20vw;
        top: -15vw;
        max-width: 30vw;
        max-height: 40vw;
    }
    .link{
        position: relative;
        left: 15vw;
        top: -14vw;
    }
    #link1,#link2{
        cursor: pointer;
        padding: 10px;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
    }
    #news{
        font-size: 5vw;
        position: relative;
        top: -12vw;
        padding:10px ;
        border:2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177);
    }
    .images{
        position: relative;
        display: flex;
        top: -9vw;
    }
    #img1,#img2,#img3,#img4{
        width: 25%;
        height: auto;
    }
    .imgdescp{
        position: relative;
        display: flex;
        top: -8vw;
    }
    #d1,#d2,#d3,#d4{
        font-size: 2vw;
        padding-left: 1vw;
    }
    .user{
        position: relative;
        font-size:3vw;
        top: -5vw;
    }
    #user{
        position: relative;
        top: -5vw;
        max-width: 50vw;
        max-height: 40vw;
    }
    .heading1{
        width: 30vw;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        position: relative;
        top:-200vw;
        left:57vw;
    }
    .video{
        position: relative;
        top:-197vw;
        left:57vw;
        width: 30vw;
    }
    #links{
        display: flex;
        border: 2px solid rgb(181, 177, 177) ;
        position: relative;
        top: 2vw;
        left: 8vw;
    }
    .right_container{
        position: absolute;
        top: 239vw;
        left: -5vw;
    }
    .heading{
        font-size: 5vw;
        padding: 0 1vw 0 0;
    }
    .navigate{
        max-width: 30vw;
        height: auto;
        border: 2px solid rgb(181, 177, 177);
        position: absolute;
        top:100vw;
        left: 55vw;
        }
    .prodlist{
        display:inline-block ;
        list-style:disc;
        list-style-position: inside;
    }
    #prod1,#prod2,#prod3{
        padding-bottom: 10px;
    }
    .nav_bottom{
        padding-bottom: 5px;
        position: relative;
        top: 10vw;
        left: 30vw;
    }
    #bottom{
        position: relative;
        left: 5vw;
    }
}
@media only screen and (min-width : 1200px) {
    *{
        margin: 0;
        padding: 0;
    }
    #logo{
        width: 20vw;
        height:10vw;
        position: absolute;
        top: 3%;
        left: 5%;
    }
    .top1{
        position: absolute;
        top: 1%;
        left: 25vw;
        font-size: 2vw;
    }
    
    .top2{
        display: flex;
        position: absolute;
        left: 60%;
        top: 5vw;
        font-size: 2vw;
        margin-bottom: 10% ;
        }
    #top2_second,#top2_third{
        padding-left: 1vw;
    }
    .top3{
        display: flex;
        position: absolute;
        top: 1vw;
        margin-left: 3vw;
        left: 65vw;
    }
    #top3_first,#top3_second,#top3_third,#top3_fourth{
        border: 1px solid rgb(181, 177, 177);
        margin: 0.5vw;
    }
    .des{
        position: absolute;
        top: 4vw;
    }
    .main_container{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10%;
        width: 80%;
        margin: auto;
    }
    .bar{
        position: absolute;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        margin-bottom:6vw;
        margin-top: 5%;
        width: 80vw;
        height: 5vw;
    
    }
    ul{
        display:flex;
        list-style: none;
    
    }
    li{
        padding-top: 5px;
    
        padding-left: 2vw;
        cursor: pointer;
        font-size: 13px;
        align-items: center;
    }
    
    .image1{
        width: 80vw;
        height: 30vw;
        margin-top: 10%;
    }
    .search{
        position: absolute;
        height: 3vh;
        left: 67.5vw;
        top: 1vw;
        cursor: pointer;
        
    }
    #search_box{
        width: 10vw;
        padding-right: 2vw;
    }
    .bottom_left_container{
        width: 50vw;
        height: auto;
        margin-top: auto;
        border: 2px solid rgb(181, 177, 177);
        position: static;
        top:25%;
    }
    .headline{
        border: 2px solid rgb(181, 177, 177);
        background-color: rgb(181, 177, 177);
    }
    .image2{
        padding-left: 2vw;
        padding-top: 3vw;
        height:15vw;
        width: 15vw;
    }
    .descp{
        position: relative;
        left: 20vw;
        top: -15vw;
    }
    #descrp{
        position: relative;
        left: 20vw;
        top: -15vw;
        max-width: 30vw;
        max-height: 40vw;
    }
    .link{
        position: relative;
        left: 15vw;
        top: -14vw;
    }
    #link1,#link2{
        cursor: pointer;
        padding: 10px;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
    }
    #news{
        font-size: 5vw;
        position: relative;
        top: -12vw;
        padding:10px ;
        border:2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177);
    }
    .images{
        position: relative;
        display: flex;
        top: -9vw;
    }
    #img1,#img2,#img3,#img4{
        width: 25%;
        height: auto;
    }
    .imgdescp{
        position: relative;
        display: flex;
        top: -8vw;
    }
    #d1,#d2,#d3,#d4{
        font-size: 2vw;
        padding-left: 1vw;
    }
    .user{
        position: relative;
        font-size:3vw;
        top: -5vw;
    }
    #user{
        position: relative;
        top: -5vw;
        max-width: 50vw;
        max-height: 40vw;
    }
    .heading1{
        width: 30vw;
        border: 2px solid rgb(181, 177, 177);
        background-color:rgb(181, 177, 177) ;
        position: relative;
        top:-200vw;
        left:57vw;
    }
    .video{
        position: relative;
        top:-197vw;
        left:57vw;
        width: 30vw;
    }
    #links{
        display: flex;
        position: relative;
        top: 2vw;
        left: 8vw;
    }
    .right_container{
        position: absolute;
        top: 239vw;
        left: -5vw;
    }
    .heading{
        font-size: 5vw;
        background-color:rgb(181, 177, 177) ;
        padding: 0 1vw 0 0;
    }
    .navigate{
        max-width: 30vw;
        height: auto;
        border: 2px solid rgb(181, 177, 177);
        position: absolute;
        top: 85vw;
        left: 55vw;
        }
    .prodlist{
        display:inline-block ;
        list-style:disc;
        list-style-position: inside;
    }
    #prod1,#prod2,#prod3{
        padding-bottom: 10px;
    }
    .nav_bottom{
        padding-bottom: 5px;
        position: absolute;
        top: 140vw;
        left: 30vw;
    }
    #bottom{
        position: relative;
        left: 5vw;
    }
}
